{% extends "layout.html" %}
{% block content %}

<h2>Blood Sugar Tracker</h2>

<form method="POST">
    <div class="mb-3">
        <label>Sugar Level (mg/dL)</label>
        <input type="number" step="any" class="form-control" name="sugar" required>
    </div>

    <button class="btn btn-warning w-100">Add Sugar</button>
</form>

{% if category %}
<div class="alert mt-3 
    {% if category == 'Low' %}alert-danger
    {% elif category == 'Normal' %}alert-success
    {% else %}alert-warning
    {% endif %}">
    
    <h5>Status: <strong>{{ category }}</strong></h5>
    <p>{{ recommendation }}</p>
</div>
{% endif %}

{% if history %}
<table class="table mt-4">
    <tr>
        <th>Sugar Level</th>
    </tr>
    {% for entry in history %}
    <tr>
        <td>{{ entry.sugar_level }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<h3 class="mt-5">Sugar Progress Graph</h3>

<canvas id="sugarChart"></canvas>

<!-- Chart.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('sugarChart').getContext('2d');

    const sugarChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ dates | tojson | safe }},
            datasets: [{
                label: 'Blood Sugar Level',
                data: {{ sugar_values | tojson | safe }},
                borderWidth: 2,
                tension: 0.3
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}